<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<connectionStrings>
		<add name="DbDefault" connectionString="Data Source=localhost,1433;Initial Catalog=WF_DCMOP;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.sqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="KeyCrypt" value="b14ca5898a4e4133bbce2ea2315a1916" />
	</appSettings>
</configuration>